@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-VariableFont_wdth,wght.woff2") format("woff2"),
  url("../fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
}

html, body {
  padding: 0;
  margin: 0;
}

